body{
    background-color: rgb(112, 110, 107);
}
.container {
  max-width: 750px;
  height: 100vh;
  margin: 0 auto;
  font-size: 22px;
  color: azure;
}

ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul li {
  margin-bottom: 20px;
}
